<%= form_with model: ,url: _path, method: :post do |f| %>
  <div class="field">
    <%= f.label :moviedata_id %>
    <%= f.hidden_field :moviedata_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
