<div class="container">
 <div class="row">
  <div class="col-lg-2">

  </div>
  <div class="col-lg-7">
   <table>
    <tr>

     <td>　　</td>
     <td>
      <p  class="small text-center">Welcome to Cinemaster！</p>
     </td>
    </tr>
   </table>
   <br><br><h4>　　<u>新着映画</u></h4>
    <div id="container" class="container">
        <section class="eachMovieSection">
            <h2>Now Playing</h2>
            <ul class="horizontal_scroll" id="horizontal_scroll_nowPlaying">
            </ul>
        </section>
        <section class="eachMovieSection">
            <h2>Top Rated</h2>
            <ul class="horizontal_scroll" id="horizontal_scroll_popular">
            </ul>
        </section>
    </div>
   </div>
   <div class="col-lg-3"></div>
   </div>
  </div>
</div>